---
- import_tasks: repository.yml
#Install the official nginx repository fdr supported OS's. Moved into a seperate file for readability.

- name: install nginx
  package:
    name: nginx
    state: present

- name: apply nginx config template to /etc/nginx/conf.d/mattermost.conf
  template:  
    src: mattermost.conf.j2
    dest: /etc/nginx/conf.d/mattermost.conf
  notify: restart nginx

- name: Allow nginx to connect to MatterMost
  command: setsebool httpd_can_network_connect true
  when: ansible_distribution == "RedHat"

- name: Change nginx cache directory permissions
  file:
    path: /var/cache/nginx
    state: directory
    owner: nginx
    group: nginx
    recurse: yes
  when: ansible_distribution == "RedHat"
  notify: restart nginx

- name: remove nginx default site
  file:
    path: /etc/nginx/conf.d/default.conf
    state: absent
  notify: restart nginx
