---
- include_tasks: "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"

- name: ensure database is created
  become: true
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"

- name: ensure user has access to database
  become: yes
  become_user: postgres
  postgresql_user:
    db: "{{ db_name }}"
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: ALL

- name: ensure user does not have unnecessary privilege
  become: yes
  become_user: postgres
  postgresql_user: 
    name: "{{ db_user }}"
    role_attr_flags: NOSUPERUSER,NOCREATEDB

# vim:ft=ansible:
